/* Fuentes 
@font-face{
  font-family: "Udrizar";
  src: url("/fonts/SourceSansPro-Semibold.ttf")
}*/

.cuerpo{
  padding-top: 0px;
  padding-bottom: 0px;
}

.titulo{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
} 
  

  
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
  
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.contenedor-main{
  margin-bottom: 20px;
}

main {
  padding: 20px 0;
}

.sombra {
  margin: 25px auto;
  border: 1px solid #ccc;
  /*width: 500px;
  height: 200px;*/
  box-shadow: 7px 7px 15px #592A08; 
}
/*.container{
  color: rgba(55, 50, 62, 1);
    font-size: 27px;
    padding: 10px;
}*/

/*.bigicon {
  font-size: 35px;
  color: rgba(222, 158, 54, 1);
  
}
.btn-lg{
  color: rgba(55, 50, 62, 1);
  background: transparent;
  border: 2px solid rgba(222, 158, 54, 1);
}
.btn-lg:hover {
  background-color:rgba(222, 184, 65, 1);
  color:rgba(55, 50, 62, 1);
  border: 2px solid rgba(109, 106, 117, 1);
}*/

/*.form-control{
  display: inline;
  text-align: center;
}*/